.dropzone {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px dashed black;
  cursor: pointer;

  &__text {
    color: #374785;
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 330px;
    width: 100%;

    &__title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }
}
