.main-content {
  position: absolute;
  width: 90%;
  height: 80vh;
  background-color: white;
  border-radius: 5px;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.main-content__warning {
  font-size: 35px;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
}
